<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="img-fluid" style="width: 100px;" src="/assets/password.png" alt="" />
                </div>
                <h1 class="text-center">Login here</h1>

                <form (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width" >
                        <mat-label>UserName</mat-label>
                        <input required name="username" [(ngModel)]="credentials.username" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input required  name="password"[(ngModel)]="credentials.password" type="password" matInput>
                    </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button type="reset" style="margin-left:10px" mat-raised-button color="accent">Reset</button>
                    </div>
                </form>
                {{credentials | json}}
            </div>
        </div>
    </div>
</div>